@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@1,500&family=Poppins:ital,wght@0,200;0,700;1,100;1,300;1,400;1,600;1,700&family=Source+Sans+Pro:ital,wght@1,700&family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
header{
  height: 100vh;
  width: 100%;
  background: rgb(23,245,255);
background: linear-gradient(191deg, rgba(23,245,255,1) 0%, rgba(34,182,214,1) 49%, rgba(58,44,140,1) 100%);
  background-position: center;
}
::selection{
  background: #a3f5ec;
}
header nav{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  justify-content: space-between;
}
  header nav .logo{
  height: 80px;
  width: 150px;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 10px;
}
nav .menu a{
  color: #2c3e50;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
nav .menu a:hover{
  color: #000;
}
nav .search-box{
  position: relative;
  height: 40px;
  width: 250px;
}
.search-box input[type="text"]{
  position: absolute;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  color: #2c3350;
  border: 2px solid #2c3350;
  background: #f2f2f2;
  padding: 0 10px 0 40px;
}
.search-box a{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 20px;
  color: #2c3350;
  transform: translateY(-50%);
  border-right: 2px solid #2c3350;
  padding: 0 5px 0 0;
}
.text-content{
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}
header .text-content .text{
  font-size: 27px;
  color: #2c3350;
}
header .text-content .name{
color: #2c3350;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}
header .text-content .job{
 color: #2c3350;
 font-size: 40px;
 margin: 5px 0;
 margin-top: -4px;
 display: flex;
}
.text-content .typing-text{
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #1de2d1;
  animation: typing 5s steps(15) infinite;
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  50%{
    width: 15ch;
  }
  100%{
    width: 0ch;
  }
}
.text-content .job .one{
  color: #fff;
}
.text-content .job .two{
  color: #3a3896;
}
.buttons{
  margin: 20px 0 0 50px;
}
.text-content .buttons button{
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #2AFADF     10%, #C346C2 100%);
}
.buttons button:hover{
  transform: scale(0.97);
}
.content .girl img{
  position: absolute;
  height: 60%;
  bottom: 0;
  right: 80px;
  margin-bottom:100px;
}
header .media-icons{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.media-icons a{
 margin-top: 8px;
 font-size: 20px;
 font-weight: 500;
 text-decoration: none;
 opacity: 0.7;
 color: #2c3350;
 transition: all 0.3s ease;
}
.media-icons a:hover{
 opacity: 1;
}


/**about Our App */
.about-app
{
  height: 600px;
  
  width: 80%;
  margin:  0 auto;
  display: flex;
  
}
.image-box{
  flex: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.image-box:hover{
  transform: scale3d(1,1.1,1.3);
  transition: 1s;
}
.image-box img{
  height: 80%;
  
}
.text-box{
  flex: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-box:hover{
  transform: scale3d(1,1.1,1.3);
  transition: 1s;
}
.text-box h1{
  font-weight: 600;
  color: #22b6d6;
  font-size: 45px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-box p{
  text-align: center;
  padding:20px 30px;
}
@media (max-width:800px) {
  .about-app{
    flex-direction: column;
    height: fit-content;
  }
  }

/**app-details-bar */
.app-details-bar{
  height: 150px;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background: rgb(23,245,255);
background: linear-gradient(191deg, rgba(23,245,255,1) 0%, rgba(34,182,214,1) 49%, rgba(58,44,140,1) 100%);
}
.app-details-bar a:hover{
  transform: rotate(360deg);
  transition: 1s;
}
.total-downloads{
  flex: 1;
  
  justify-content: center;
  align-items: center;
  display: flex;
}
.total-downloads h1{
  font-weight: 600;
  color: #f2f2f2;
  font-size: 25px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.total-downloads .text{
  padding: 50px;
}
.best-app{
  flex: 1;
  
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.experience{
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.best-app h1{
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.best-app .text{
  padding: 50px;
}

.experience h1{
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.experience .text{
  padding: 50px;
}
@media (max-width:800px) {
  .app-details-bar{
    flex-direction: column;
    height: fit-content;
  }
  }
 

/**Social App- */
.social-app{
  padding: 30px;
  height: 800px;
  
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.social-app-image{
  flex: 1;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.social-app-image img{
  height: 80%;
}
.social-app-details{
  flex: 1;
  
}
.social-app-details .heading{
  
  text-align: center;
  
}
.social-app-details .heading h1{
  padding: 20px;
  font-family: Mochiy Pop P One;
  font-size: 40px;
  color: #22b6d6;
  text-shadow: 2px 3px 4px #3a2c8c ;
  
}
.social-app-details .heading p{
  text-align: center;
  padding:  60px;
}
.key-point{
  
  justify-content: center;
  align-items: center;
  flex:1;
  display: flex;
  height: 200px;
  
  flex-direction: row;
}
.key-point .point-1:hover{
  box-shadow: 1px 2px 3px #22b6d6;
}


.key-point2 .point-1:hover{
  box-shadow: 1px 2px 3px orange;
}
.key-point .point-1{
  padding: 20px 35px;
  
}
.key-point2 .point-1{
  padding: 20px 35px;
  
}
.key-point2{
  justify-content: center;
  align-items: center;
  flex:1;
  display: flex;
  height: 200px;
  
  flex-direction: row;
}
@media (max-width:800px) {
  .social-app{
    flex-direction: column;
    height: fit-content;
  }
  }
  @media (max-width:800px) {
    .social-app-image{
      width: 50%;
      height: fit-content;
    }
    }
    /**Package */
    .package-head{
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 30px ;
      color: #22b6d6;
  text-shadow: 2px 3px 4px #3a2c8c ;
    }
    .content{
      max-width: 1090px;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      
    }
     .content .card{
      background: #fff;
      width: calc(33% - 20px);
      text-align: center;
      padding: 15px 30px  30px 30px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }
    .content .card:hover{
      transform: scale(1,.9);
      cursor: pointer;
    }
    .content .card .top{
      height: 130px;
      color: #fff;
      padding: 12px 0 0 0 ;
      clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
    }
    
    .content .card .top .title{
     font-size: 27px;
     font-weight: 600;
    }
    .content .card .top .price-sec{
      margin-top: -10px;
      font-weight: 600;
    }
    .content .card .top .price{
      font-size: 45px;
    }
    .content .card .info{
      font-size: 16px;
      margin-top: 20px;
    }
    .content .card .details .one{
      margin-top: 25px;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    .content .card .details .one::before{
      position: absolute;
      content: "";
      width: 100%;
      background: #ddd;
      height: 1px;
      left: 0;
      top: -12px;
      border-radius: 25px;
    }
    .content .card .details .one i{
      color: #2db94d;
    }
    .content .card .details i.fa-times{
      color: #cd3241;
    }
    .content .card button{
      outline: none;
      border: none;
      height: 42px;
      color: #fff;
      margin-top: 30px;
      border-radius: 3px;
      font-size: 18px;
      width: 100%;
      display: block;
      transition: all 0.3s ease;
      cursor: pointer;
      letter-spacing: 1px;
    }
    .content .one .top,
    .content .one button{
      background: #14eb6e;
    }
    .content .two .top,
    .content .two button{
      background: #e87130;
    }
    .content .three .top,
    .content .three button{
      background: #11BCC3;
    }
    .content button:hover {
      filter: brightness(90%);
    }
    .content .one ::selection{
    background: #8af5b6;
    }
    .content .two ::selection{
    background:  #f2b08c;
    }
    .content .three ::selection{
    background: #d0f9fb;
    }
    @media (max-width:1000px) {
       .content .card{
        background: #fff;
        width: calc(50% - 20px);
        margin-bottom: 30px;
    }
    }
    @media (max-width:715px) {
     .content .card{
        width: 100%;
    }
    }

    /**Security */
    
    .Security{
      height: 800px;
      padding-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
     
      flex-direction: column;
    }
    .Security .s-line-1{
      flex: 1;
      height: 800px;
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    
    .Security .s-line-1 .box{
      padding: 10px;
      box-shadow: 3px 4px 5px #095784 ;
      background: rgb(99,181,238);
background: linear-gradient(191deg, rgba(99,181,238,1) 0%, rgba(242,242,242,1) 100%);
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
      border-radius: 10px;
    }
    .Security .s-line-1 .box h1,p,a{
      text-align: center;
      align-items: center;
    }
    .Security .s-line-2{
      flex: 1;
      display: flex;
      flex-direction: row;
      height: 800px;
      width:100%;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .Security .s-line-2 .box{
      padding: 10px;
      box-shadow: 3px 4px 5px #095784 ;
      border-radius: 10px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
      background: rgb(151,186,210);
background: linear-gradient(191deg, rgba(151,186,210,1) 0%, rgba(159,201,231,1) 52%, rgba(242,242,242,1) 100%);
    }
    .Security .s-line-2 .box h1,p,a{
      text-align: center;
      align-items: center;
    }
    @media (max-width:715px) {
      .Security .s-line-1{
         flex-direction: column;
         height: fit-content;
         width: fit-content;
         margin-top: 1000px
     }
     }
     @media (max-width:715px) {
      .Security .s-line-2{
         flex-direction: column;
         
     }
     }
     /**Testimonial */
     .testimonial{
       height: 400px;
       
       display: flex;
       width: 90%;
       margin: 0 auto;

     }
     .tesimonial-box{
       flex-direction: column;
       flex: 1;
       margin: 20px;
       justify-content: center;
       align-items: center;
       display: flex;
       border-top-left-radius: 70px;
       border-bottom-right-radius: 50px;
       box-shadow: 4px 6px 8px;
       background: rgb(63,94,251);
       background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(147,188,195,1) 51%, rgba(70,252,241,1) 100%);
     }
     .tesimonial-box img{
      height: 70%;    
      border-radius: 50%;
     }
   
  .tesimonial-box:hover{
    transform: scale(1,1.1);
    transition: 1s;
  }
