@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@1,500&family=Poppins:ital,wght@0,200;0,700;1,100;1,300;1,400;1,600;1,700&family=Source+Sans+Pro:ital,wght@1,700&family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
header{
  height: 100vh;
  width: 100%;
  background: rgb(23,245,255);
background: linear-gradient(191deg, rgba(23,245,255,1) 0%, rgba(34,182,214,1) 49%, rgba(58,44,140,1) 100%);
  background-position: center;
}
::selection{
  background: #a3f5ec;
}
header nav{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  justify-content: space-between;
}
  header nav .logo{
  height: 80px;
  width: 150px;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 10px;
}
nav .menu a{
  color: #2c3e50;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
nav .menu a:hover{
  color: #000;
}
nav .search-box{
  position: relative;
  height: 40px;
  width: 250px;
}
.search-box input[type="text"]{
  position: absolute;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  color: #2c3350;
  border: 2px solid #2c3350;
  background: #f2f2f2;
  padding: 0 10px 0 40px;
}
.search-box a{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 20px;
  color: #2c3350;
  transform: translateY(-50%);
  border-right: 2px solid #2c3350;
  padding: 0 5px 0 0;
}
.text-content{
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}
header .text-content .text{
  font-size: 27px;
  color: #2c3350;
}
header .text-content .name{
color: #2c3350;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}
header .text-content .job{
 color: #2c3350;
 font-size: 40px;
 margin: 5px 0;
 margin-top: -4px;
 display: flex;
}
.text-content .typing-text{
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #1de2d1;
  animation: typing 5s steps(15) infinite;
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  50%{
    width: 15ch;
  }
  100%{
    width: 0ch;
  }
}
.text-content .job .one{
  color: #fff;
}
.text-content .job .two{
  color: #3a3896;
}
.buttons{
  margin: 20px 0 0 50px;
}
.text-content .buttons button{
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #2AFADF     10%, #C346C2 100%);
}
.buttons button:hover{
  transform: scale(0.97);
}
.content .girl img{
  position: absolute;
  height: 60%;
  bottom: 0;
  right: 80px;
  margin-bottom:100px;
}
header .media-icons{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.media-icons a{
 margin-top: 8px;
 font-size: 20px;
 font-weight: 500;
 text-decoration: none;
 opacity: 0.7;
 color: #2c3350;
 transition: all 0.3s ease;
}
.media-icons a:hover{
 opacity: 1;
}


/**about Our App */
.about-app
{
  height: 600px;
  
  width: 80%;
  margin:  0 auto;
  display: flex;
  
}
.image-box{
  flex: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.image-box img{
  height: 80%;
  
}
.text-box{
  flex: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-box h1{
  font-weight: 600;
  color: #22b6d6;
  font-size: 45px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-box p{
  text-align: center;
  padding:20px 30px;
}
@media (max-width:800px) {
  .about-app{
    flex-direction: column;
    height: fit-content;
  }
  }

/**app-details-bar */
.app-details-bar{
  height: 150px;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background: rgb(23,245,255);
background: linear-gradient(191deg, rgba(23,245,255,1) 0%, rgba(34,182,214,1) 49%, rgba(58,44,140,1) 100%);
}
.total-downloads{
  flex: 1;
  
  justify-content: center;
  align-items: center;
  display: flex;
}
.total-downloads h1{
  font-weight: 600;
  color: #f2f2f2;
  font-size: 25px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.total-downloads .text{
  padding: 50px;
}
.best-app{
  flex: 1;
  
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.experience{
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.best-app h1{
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.best-app .text{
  padding: 50px;
}

.experience h1{
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  text-shadow: 2px 3px 4px #3a2c8c ;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.experience .text{
  padding: 50px;
}
@media (max-width:800px) {
  .app-details-bar{
    flex-direction: column;
    height: fit-content;
  }
  }
 

/**Social App- */
.social-app{
  padding: 30px;
  height: 800px;
  
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.social-app-image{
  flex: 1;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.social-app-image img{
  height: 80%;
}
.social-app-details{
  flex: 1;
  
}
.social-app-details .heading{
  
  text-align: center;
  
}
.social-app-details .heading h1{
  padding: 20px;
  font-family: Mochiy Pop P One;
  font-size: 40px;
  color: #22b6d6;
  text-shadow: 2px 3px 4px #3a2c8c ;
  
}
.social-app-details .heading p{
  text-align: center;
  padding:  60px;
}
.key-point{
  
  justify-content: center;
  align-items: center;
  flex:1;
  display: flex;
  height: 200px;
  
  flex-direction: row;
}
.key-point .point-1{
  padding: 20px 35px;
  
}
.key-point2 .point-1{
  padding: 20px 35px;
  
}
.key-point2{
  justify-content: center;
  align-items: center;
  flex:1;
  display: flex;
  height: 200px;
  
  flex-direction: row;
}
@media (max-width:800px) {
  .social-app{
    flex-direction: column;
    height: fit-content;
  }
  }
  @media (max-width:800px) {
    .social-app-image{
      width: 50%;
      height: fit-content;
    }
    }
    